<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sidemenusakura">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SideMenuSakura">
        <activity android:name=".FoodDeliveryManagement.MyLatestOrderActivity"
            android:exported="true"
            android:label="My Latest Order">
        </activity>
        <activity
            android:name=".OrderManagement.orderdeliveryActivity"
            android:label="Order Delivery Management"></activity>
        <activity android:name=".OrderManagement.payments" />
        <activity
            android:name=".OrderManagement.AddOrderActivity"
            android:exported="true"
            android:label="Add Order"></activity>
        <activity
            android:name=".OrderManagement.ViewOrderActivity"
            android:label="View Order"></activity>
        <activity
            android:name=".BarMenuManagement.BarMenuPage3Activity"
            android:exported="true"
            android:label="Bar Menu"></activity>
        <activity
            android:name=".BarMenuManagement.BarMenuPage2Activity"
            android:exported="true"
            android:label="Bar Menu"></activity>
        <activity
            android:name=".BarMenuManagement.ViewBarMenuActivity"
            android:label="Bar Menu Management" />
        <activity
            android:name=".BarMenuManagement.AddBarMenu"
            android:exported="true"
            android:label="Add Bar Menu Details">
        </activity>
        <activity
            android:name=".FoodMenuManagement.Mainnewgui3"
            android:label="Food Menu"></activity>
        <activity
            android:name=".FoodMenuManagement.Mainnewgui2"
            android:label="Food Menu" />
        <activity
            android:name=".FoodMenuManagement.Mainnewgui1"
            android:exported="true"
            android:label="Food Menu">
        </activity>
        <activity
            android:name=".FoodMenuManagement.ViewFoodItemList"
            android:label="Food Menu Management" />
        <activity
            android:name=".FoodMenuManagement.AddFoodItem"
            android:exported="true"
            android:label="Add Food Menu Details"></activity>
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".StartedImage"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivitylogin" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SideMenuSakura.NoActionBar"></activity>
        <activity
            android:name=".FoodDeliveryManagement.MainActivityDriver2"
            android:label="Delivery Management" />
        <activity
            android:name=".FoodDeliveryManagement.MainActivityDriver3"
            android:label="Delivery Management" />
        <activity
            android:name=".FoodDeliveryManagement.MainActivityDriver4"
            android:label="Delivery Management" />
        <activity android:name=".FoodDeliveryManagement.SingleDeliveryDetails" />
        <activity
            android:name=".FoodDeliveryManagement.UpdateDeliveryDetails"
            android:label="Update Delivary Details" />
        <activity
            android:name=".FoodDeliveryManagement.AddDeliveryDetalis"
            android:label="Add Delivery Details" />
        <activity
            android:name=".FoodDeliveryManagement.MainActivityDriver1"
            android:exported="true"
            android:label="Delivery Management"></activity>
        <activity
            android:name=".UserProfileManagement.UserProfileActivity"
            android:label="User Profile" />
        <activity
            android:name=".UserProfileManagement.RegisterActivity"
            android:label="Registration" />
        <activity
            android:name=".UserProfileManagement.LoginActivity"
            android:exported="true"
            android:label="Login"></activity>
    </application>

</manifest>